#synth{
    width: 520px;
    height: 210px;
    position: relative;
    background-color: rgb(255, 190, 50);
    padding: 30px;
    border-radius: 10px;
}

#osci{
    float: right;
}

#keyboard{
    position: relative;
    top: 50px;
    margin: 0 auto;
    align-content: center;
}
